<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/kcal"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/kcal"
        android:supportsRtl="true"
        android:theme="@style/Theme.Finalprojectaplikasipenghitungkalori"
        tools:targetApi="31">

        <activity
            android:name="com.smkth.final_project_aplikasi_penghitung_kalori.MainActivity"
            android:exported="false"
            tools:ignore="MissingClass" />
        <activity
            android:name="com.smkth.final_project_aplikasi_penghitung_kalori.AturTargetActivity"
            android:exported="false" />
        <activity
            android:name="com.smkth.final_project_aplikasi_penghitung_kalori.TambahkanKaloriActivity"
            android:exported="false" />
        <activity
            android:name="com.smkth.final_project_aplikasi_penghitung_kalori.HitungKaloriMakananActivity"
            android:exported="false" />
        <activity
            android:name="com.smkth.final_project_aplikasi_penghitung_kalori.HitungPembakaranKaloriActivity"
            android:exported="false" />
        <activity
            android:name="com.smkth.final_project_aplikasi_penghitung_kalori.splashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.smkth.final_project_aplikasi_penghitung_kalori.ChatbotActivity"
            android:exported="false" />


    </application>

</manifest>
